.header{
    background-color: var(--gray-700);
    width: 100vw;
    height: 13rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contentImg {
    display: flex;
    align-items: center;
}

.contentImg > img {
    padding-right: 0.75rem;
}

.contentImg img:nth-child(2) {
    height: 1.5rem;
}